{% load static %}
<!DOCTYPE html>

<html>
<head>
    <title>Real Estate</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

<!-- Navbar -->

    <div class="navbar">
    <!-- Left side  -->
        <div class="nav-left">
            <a href="#" class="logo">YK Real Estate Management</a>
            <a href="{% url 'homepage' %}">Home</a>
            <a href="{% url 'properties' %}">Properties</a>
            <a href="{% url 'contactus' %}">Contact</a>
            <a href="#">About</a>
        </div>
    <!-- Right side -->
        <div class="nav-right">
            <a href="#"class="btn-login">Login</a>
            <a href="#"class="btn-register">Register</a>
        </div>
    </div>
<!-- Image -->

    <div class="backgroundimage">
        <img src="{% static 'images/background.jpg' %}" alt="Real Estate">

        <div class="backgroundimage-text">
            <h1>Find Your Dream Home</h1>
            <p>Best properties in Mauritius</p>
        </div>
    </div>

<!-- Filter Section -->
    <div class="filter-section">
        <form method="GET" action="">
            
            <input type="text" name="location" placeholder="Location">

            <input type="number" name="min_price" placeholder="Min Price">
            <input type="number" name="max_price" placeholder="Max Price">

            <input type="text" name="keywords" placeholder="Keywords (e.g. bedrooms, pool)">

            <button type="submit">Search</button>
        </form>
    </div>

<!--Footer-->
    <footer class="footer">
        <div class="footer-content">
            
            <div class="footer-section">
                <h3>Contact Us</h3>
                <p>Email: info@realestate.com</p>
                <p>Phone: +230 123 4567</p>
                <p>Location: Mauritius</p>
            </div>

            <div class="footer-section">
                <h3>Follow Us</h3>
                <div class="socials">
                    <a href="https://facebook.com" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook">
                    </a>
                    <a href="https://instagram.com" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/512/733/733558.png" alt="Instagram">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2026 Real Estate. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
